img{
    height: 200px;
}

h1{
    font-size: 3rem;
}

.section-bg-aquamarine{
    background-color: rgb(16, 240, 191);
    color:white;
}

.container{
    width: 70%;
    margin:0 auto
}

.padding-top{
    padding-top: 40px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.title-line{
    height: 5px;
    width: 150px;
    margin:0 10px;
}

.btn-outline-primary{
    color:white;
    border-color: white;
}

.border-radius{
    border-radius: .5rem;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}